body {
    font-family: Roboto;
    margin: 0;

}


.header {
    background-color:  #1F2937;
    display: flex;
    justify-content: space-between; /* pushes left and right apart */
    align-items: center; /* vertically centers content */
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
}

.left, .right {
    display: flex;
    align-items: center;
}
.links ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.hero {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color:  #1F2937;
  padding: 70px 150px;
}

.left_hero, .right_hero {
  flex: 1;
}

.left_hero {   
  padding-right: 150px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a9c9f;
  width: 100%;
  height: 200px;

}

.hero_text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.subtext, .links, .placeholder {
  font-size: 18px;
  color: #E5E7EB;
}

.links a {
  text-decoration: none;
  color: #E5E7EB;
}

.button {
  background-color: #3882F6;
  color: white;
  margin-top: 10px;
  padding: 5px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button--white-border {
  border: 1px solid white;
}

ul {
  list-style: none;
}

.info_header {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.square {
  height: 120px;
  width: 120px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: #3882F6;
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  text-align: center;
  padding-bottom: 50px;
}

.info_text{
  width: 120px;
  margin-top: 5px;
  font-size: 13px;
}

.quote {
  background-color: #E5E7EB;
  padding: 80px 300px;
  font-style: italic;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.quote_text {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
}

.quote_author{
  font-weight: 900;
  margin-top: 5px;
  align-self: flex-end;
}

.last {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.cta {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  border-color: #3882F6;
  width: 800px;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F9FAF8;
  padding: 0px 80px;
}

.cta_big {
  font-size: 18px;
  font-weight: 900;
}

.cta_small {
  font-size: 14px;
  margin-top: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 20px;
}